body
{
	font-family: 'Ubuntu', sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background: #000;
	margin: 0;
	padding: 0;
	outline: 0;
	line-height: 2em;
}

h1, h2
{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	margin: 0 0 15px 0;
	text-align: center;
}

h3
{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	padding-top: 20px;
}

li
{
	margin-top: 1em;
}

h1
{
	font-size: 36px;
	line-height: 100%;
}

.subtitle
{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 24px;
	margin-top: 70px;
	padding-bottom: 40px;
}

p
{
	margin: 0 0 15px 0;
}

a
{
	color: #3e3e3e;
}

.clear
{
	clear: both;
}

.wrap
{
	width: 100%;
	min-width: 960px;
	max-width: 1600px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.section
{
	width: 100%;
	/*min-height: calc(100vh - 70px);*/
	min-width: 960px;
	max-width: 1600px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

.inner
{
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding-top: 30px;
	font-size: 18px;
	font-weight: 300;
	font-weight: 300;
}

.inner:after
{
	content: "";
	display: table;
	clear: both;
}

.innermenu
{
	width: 60%;
	min-width: 600px;
	margin: 0 auto;
}

.subMenu
{
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #3f3f3f;
	position: fixed;
	top: 0;
}

.subMenu .inner
{
	padding: 0;
	font-weight: 400;
	margin: 0 auto;
}

.subNavBtn
{
	display: block;
	height: 35px;
	width: calc(100% / 6);
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 35px;
	padding: 7.5px 0 7.5px 0;
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.subMenu  a:hover, .subMenu .current
{
	background: #008e8e;
}

.active
{
	background: #25aae1;
}

.end
{
	margin: 0;
}

.inner h1
{
	-webkit-transition: all 1.5s ease-in-out 0s;
	transition: all 1.5s ease-in-out 0s;
	letter-spacing: 3px;
}

.section:hover  h1
{
	letter-spacing: 10px;
}

/* SECTIONS */
#home
{
	min-height: 130px;
	background: #191919;
	color: #0e0;
	margin-top: 50px;
	height: 870px;
	text-align: center;
}

#s1
{
	height: 500px;
	background: #e5e5e5;
	color: #000;
}

#s2
{
	height: 610px;
	background: #191919;
	color: #fff;
}

#s2:after
{
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	background-repeat: no-repeat;
	background-position: 960px bottom;
	background-image: url('../images/hc3.png');
	z-index: -1;
    width: 100%;
    height: 100%;
	opacity: 0.2;
}

#s3
{
	height: 650px;
	background: #e5e5e5;
	color: #000;
}

#s3:after
{
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	background-repeat: no-repeat;
	background-position: 960px bottom;
	background-image: url('../images/tutorcat.png');
	z-index: -1;
    width: 100%;
    height: 100%;
	opacity: 0.3;
}

#s4
{
	height: 730px;
	background: #191919;
	color: #fff;
}

#s4 a
{
	color: #66D9EF;
}

#s5
{
	height: 200px;
	background: #e5e5e5;
	color: #000;
}

/*Contact*/
#contact
{
	padding-top: 100px;
	text-align: center;
}
#contact a, #contact span
{
	color: #b7b7b7;
	text-decoration: none;
	font-size: 2em;
	-webkit-transition: all 1.0s ease-in-out 0s;
	transition: all 1.0s ease-in-out 0s;
}
#contact a:hover
{
	color: #070;
}
/*Typed*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*Array*/
.array
{
	margin-top: 20px;
	color: #3399FF;
}

/*Button*/
.btcon_1, .btcon_2
{
	float: left;
	text-align: left;
	margin-top: 50px;
}
.btcon_1 a, .btcon_2 a
{
	text-decoration: none;
	line-height: 100px;
	font-size: 3em;
	-webkit-transition: all 1.0s ease-in-out 0s;
	transition: all 1.0s ease-in-out 0s;
}
.btcon_1 a
{
	color: #464646;

}
.btcon_1 a:hover
{
	color: #e5e5e5;
}

.btcon_2 a
{
	color: #b7b7b7;
}
.btcon_2 a:hover
{
	color: #191919;
}
